@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Milady Casanova</h1>
    <h2>Soy una desarrolladora full stack especializada en tecnologías .NET y JavaScript</h2>

    <img
    style="width: 200px; margin: 2rem 0; border:50%"
    src="~/imagenes/foto.png" alt="Foto de programador"/>


</div>
